*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:hover{
    color: #000;
    font-weight: bold;
}

.nav__logo{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.nav__icon{
    background-color: #fff;
    color: #000;
}

.nav-link{
    text-decoration: none;
    color: #fff;
}

.nav__color{
    background-color: #007d00;
    color: #fff;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    padding-right: 20px;
}
.button {
    background-color: #7700b3;
    border: 3px solid #7700b3;
    color: #fff;
    display: flex;
    order:2;
}

.top__slide{
    padding-top: 60px;
}

.slide__foto{
    height: 320px;
    width: 100%;
    z-index: -100;
}
.slide__foto img{
    width: 100%;
    height: 320px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.grid__img{
    height: 250px;
}

.slick{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.slick__fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 10px;
}

.slick__color{
    width: 100%;
    background-color: #00b300;
}

.form{
    max-width: 789px;
    margin: 50px auto;
}

.form-control:invalid{
    border:1px solid #ced4da !important;
}

.form__camp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form__button{
    background-color: #7700b3;
    width: 120px;
}

@media (max-width: 480px){
    .menu__button{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-color: #009900;
        color: #009900;
    }

    .button__menu{
        padding: 5px;
        margin:0;
        font-size: 15px;
        background-color: #fff;
    }
    .icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@media (max-width: 480px){
    .logo{
        height:40px;
    }
    .button{
        order: 0;
    }
    .slick__fotos{
        height: 110px;
        padding: 5px;
    }
}